{% extends "base.html.twig" %}

{% block title %}
    Bienvenue sur le meilleur reseau d'appartements 
{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenuen sur symProject !</h1>
        <p class="lead">Nous mettons en relations les voyageurs et les proprietaires qui veulent profiter d'opportunites et gagner de l'argent en proposant leur bien a la location</p>
        <hr class="my-4">
        <p>Vous etes voyageur? Et vous voulez voir ou vous pourrez logger pour votre prochain deplacement</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href ="#" role="button">Voir nos annonces</a>
        </p>
    </div>
    <h2 class="h1 mt-3 mb-4">Nos appartements stars</h2>
    <div class="row ">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong> <br>
                    <small>Pas encore note</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="image de l'appartement"
                    style="height:200px;width:100%; display:block">
                <div class="card-body">
                    <h4 class="card-title">Appartement de ouf !</h4>
                    <p class ="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum itaque ducimus veniam expedita reprehenderit obcaecati, magni amet impedit, doloremque dolore beatae? Aliquam beatae voluptatibus enim laborum ducimus possimus quas soluta!
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong> <br>
                    <small>Pas encore note</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="image de l'appartement"
                    style="height:200px;width:100%; display:block">
                <div class="card-body">
                    <h4 class="card-title">Appartement de ouf !</h4>
                    <p class ="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum itaque ducimus veniam expedita reprehenderit obcaecati, magni amet impedit, doloremque dolore beatae? Aliquam beatae voluptatibus enim laborum ducimus possimus quas soluta!
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong> <br>
                    <small>Pas encore note</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="image de l'appartement"
                    style="height:200px;width:100%; display:block">
                <div class="card-body">
                    <h4 class="card-title">Appartement de ouf !</h4>
                    <p class ="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum itaque ducimus veniam expedita reprehenderit obcaecati, magni amet impedit, doloremque dolore beatae? Aliquam beatae voluptatibus enim laborum ducimus possimus quas soluta!
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus!</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos proprietaires stars!</h2>
    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title"> Lior Chamla</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placeholder.it/64x64" alt="" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, ex quidem laborum exercitationem quaerat quam hic nesciunt explicabo neque temporibus amet saepe, ipsum possimus eos distinctio! Minima aperiam reprehenderit itaque.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title"> Lior Chamla</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placeholder.it/64x64" alt="" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, ex quidem laborum exercitationem quaerat quam hic nesciunt explicabo neque temporibus amet saepe, ipsum possimus eos distinctio! Minima aperiam reprehenderit itaque.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
