{% extends 'base.html.twig' %}
{% block title %} Creation d'une annonce{% endblock %}

{% form_theme form _self %}
{% block body %}
 
<div class="container">
    <h1>creer une nouvelle annonce</h1>

    {{ form_start(form)}}


        {{form_widget(form)}}


        <div class = "mt-3">
            <button type="submit" class= "btn btn-primary">Creer la nouvelle annonce</button>
        </div>


    {{ form_end(form) }}

</div>


{% endblock %}

